@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins&family=Yuji+Boku&display=swap');
/*------------------------------ Header--------------------------*/
body{
    margin:0px;
}
.logo{
    padding:30px 0px;
}
.center{
    margin: 0px auto;
}
.t-p2{
    background-color: #007aff;
}
#intro1{
    text-align: center;
    color: white;
    font-family:sans-serif;
    padding:26px;
    word-spacing: 12px;
}
#intro2{
    text-align: center;
    color: white;
    font-size:46px;
    font-family: 'Poppins', sans-serif;
}
.intro-link{
    text-decoration: none;
    color: white;
    word-spacing:4px;
    border:2px solid white;
    border-radius:24px;
    padding:11px 23px;
}
.intro-links{
    text-align: center;
    padding: 22px;
}
.nav-item > a:hover{
    color:#66bfbf;
    text-decoration:none;
}
.col-md-12{
    width:auto;
}
.intro-image{
    margin:0px auto;
    margin-top: -128px;
}
.intro-link:hover{
    background-color: #66bfbf;
    color:black;
}
.t-p3{
    text-align:center;
}
.hi{
    color:gray;
    font-family:sans-serif;
    word-spacing: 4px;
    margin:32px 0px;
}
.welcome{
    color:tomato;
    font-size:46px;
    word-spacing: 2px;
    margin-bottom:40px;
}
.welcome-stat{
    word-spacing: 8px;
    font-family: sans-serif;
    font-size: larger;
}
/*----------------------main-----------------------------------------*/
.m-p1{
    margin:140px 0px;
    background-image:url("labrador.png");
}
.service-left > h3{
    color:Tomato;
}
.service-left > p{
    word-spacing: 8px;
    margin-bottom: 38px;
    font-family: sans-serif;
}
.alignment{
    text-align:center;
}
.m-p2 > p{
    margin-top:-22px;
}
.facts{
    border-radius:20px;
    float:left;
    margin-right:32px;
    margin: 0px auto;
    text-align:center;
    background-color: rgb(185, 181, 181);
    margin-bottom:8px;
}
.facts > a{
    text-decoration: none;
    color: tomato;
}
.facts > h3:hover{
    color:yellow;
}
.col-md-4{
    width:min-content;
}
.x{
    background-color: #66bfbf;
    width: 150px;
    padding: 8px 0px;
    border-radius: 24px;
}
.m-p3{
    padding:44px 0px;
}
.image{
    border-radius:0px 0px 20px 20px;
}
.sponsors{
    width:auto;
    float:left;
}
.sponsorship{
    margin:0px auto;
    padding:100px 0px;
}
.contact{
    position: relative;
    justify-content: center;
}
.cuties{

}
.form-inputs{
    margin: 10px 0px;
    border-radius: 10px;
    width: -webkit-fill-available;
}
.input-submit{
    background-color: #66bfbf;
}
/*-
.footer{
    list-style-type: none;
}
.footer-button{

}
.footer-elements{
    float: left;
}
.footer-links{
    text-decoration: none;
    color: white;
    float: left;
}-*/
